---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Newsletter } from "../components/react/Newsletter";
import { Notifications } from "../components/react/Notifications";
import { PageBanner } from "../components/react/PageBanner";

const { title, description, keywords } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} keywords={keywords} />
  </head>
  <body>
    <PageBanner client:only />
    <div
      class="grid min-h-screen antialised font-open-sans dark:bg-gray-900 dark:text-gray-100"
      style={{ gridTemplateRows: "auto 1fr auto" }}
    >
      <Header />
      <slot />
      <Newsletter />
      <Footer />
    </div>
    <Notifications client:idle />
  </body>
</html>
